.card-image{
  /*min-height: 10rem;*/
  width: 95%;
  height: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive{
  max-height: 100%;
  width: auto;
}

.columns{
  justify-content: center;
}