# node modules
node_modules

# build folder
_site

# archives folder
archives

# VSCode workspace files
.vscode

# Environmental files
.env

# Terraform intermediate files
.terraform
.terraform.lock.hcl
terraform.tfstate