body{
    background-color: #F5F5F5;
    color: #212121;
    text-align: center;
}

p {
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: #03a9f4;
}

a:hover {
    color: #0288D1;
}

.flexLeft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexDown{
display: flex;
flex-direction: column;
}

.btn, .form-select, :not([multiple]):not([size]).form-select, .form-input{
    background-color: #FFFFFF;
    border-color: #03A9F4;
    border: #03A9F4;
    color: #212121;
}

.btn:focus, .form-select:focus, .form-input:focus{
    box-shadow: 0px 0px 0px 0.1rem #21212148;
}

.btn:hover, .btn:focus, [readonly].form-input{
    background-color: #FFFFFF;
}

.btn.btn.btn-primary{
    background-color: #03A9F4;
}
  
.btn.btn-primary:focus, .btn.btn-primary:hover{
    background-color: #0288D1;
}

.banner-text {
    background-color: #03a9f4;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card {
    margin-bottom: 1rem;
}

.card-image img {
    padding: .5rem;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

ul {
    text-align: left;
}

li {
    display: list-item;
}
  
li p {
    display: inline;
}
