<div class="nav">
    <ul class="nav__pageWrapper">
    {%- for page in nav.pages %}
        <li class="nav__page">
            <a href={{ page.href | url }}>{{ page.name }}</a>
        </li>
    {% endfor -%}
    </ul>
    <div class="nav__iconWrapper">
        {%- for link in nav.links %}
            <a href={{ link.href | url }} class="nav__link">
                <img src="{{ link.icon | url }}" alt="{{ link.name }}" class="nav__linkIcon">
            </a>
        {% endfor -%}
    </div>
</div>