.project__wrapper {
  @include card;

  display: flex;
  flex-direction: column;
  height: auto;
  margin: 1rem;
  width: auto;
}

.project__name {
  font-size: $headline-font-size;
  font-weight: $semibold-font-weight;
  margin: 0;
}

.project__motivation {
  font-style: italic;
  margin: 0;
}

.project__linkWrapper {
  margin-top: auto;
}

.project__link {
  margin-top: 0.5rem;
}

.project__startEndDate {
  //
}

.project__summary {
  //
}
