.nav {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: fit-content;
  justify-self: center;
  margin-right: 0.5rem;
  width: fit-content;

  @include respond-to('large') {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    position: sticky;
    top: 0;
  }
}

.nav__pageWrapper {
  display: flex;
  flex-direction: row;
  padding: 0;

  @include respond-to('large') {
    display: flex;
    flex-direction: column;
  }
}

.nav__page {
  height: fit-content;
  list-style-type: none;
  margin: 0.5rem 0.1rem;
  padding: 0.1rem 0.25rem;
  text-align: center;
  width: auto;
}

.nav__iconWrapper {
  text-align: center;
}

.nav__link {
  display: inline-block;

  @include respond-to('can-hover') {
    opacity: 0.9;
  }
}

@include respond-to('can-hover') {
  .nav__link:hover {
    opacity: 1;
  }
}

.nav__linkIcon {
  height: auto;
  width: 3rem;
}
