.nav {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: fit-content;
  justify-self: center;
  margin-right: 0.5rem;
  width: 100%;

  @include respond-to('large') {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    position: sticky;
    top: 0;
  }
}

.nav__contentWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;

  @include respond-to('large') {
    max-height: 100vh;
  }
}

.nav__pageWrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.nav__toggle {
  display: none;
}

.nav__toggle:checked ~ .nav__contentWrapper {
  max-height: 100vh;
}

.nav__toggleLabel {
  display: block;
  height: 3rem;
  margin-left: auto;
  width: fit-content;

  @include respond-to('large') {
    display: none;
  }
}

.nav__page {
  height: fit-content;
  list-style-type: none;
  margin: 0.5rem 0.1rem;
  padding: 0.1rem 0.25rem;
  text-align: center;
  width: auto;
}

.nav__iconWrapper {
  text-align: center;
}

.nav__link {
  display: inline-block;

  @include respond-to('can-hover') {
    opacity: 0.9;
  }
}

@include respond-to('can-hover') {
  .nav__link:hover {
    opacity: 1;
  }
}

.nav__linkIcon {
  height: auto;
  width: 3rem;
}
