---
layout: layouts/default
description: Joe Komskis's personal website
defaultStylesheet: css/main.min.css
---
<div class="homeTitle__wrapper">
    <h1 class="homeTitle__text">Joe<br>Komskis</h1>
</div>
<section class="homeSection__wrapper">
    <a id="Education"></a>
    <h1 class="homeSection__title">Education</h1>
    {%- for degree in education.degrees %}
        <div class="degree__wrapper">
            <img class="degree__logo" src="{{ degree.logo }}" alt="{{ degree.logo_alt }}"></img>
            <p class="degree__school">{{ degree.school }}</p>
            <p class="degree__degree">{{ degree.degree }}</p>
            <p class="degree__location">{{ degree.location }}</p>
            <p class="degree__graduationDate">{{ degree.graduationDate }}</p>
            <ul class="degree__mainPoints">
                {%- for mainPoint in degree.mainPoints %}
                    <li class="degree__mainPoint">{{ mainPoint }}</li>
                {% endfor -%}
            </ul>
        </div>
    {% endfor -%}
</section>
<section class="homeSection__wrapper">
    <a id="Experience"></a>
    <h1 class="homeSection__title">Experience</h1>
    {%- for job in experience.jobs %}
        <div class="job__wrapper">
            {%- if job.logo %}
                <img class="job__logo" src="{{ job.logo }}" alt="{{ job.logo_alt }}"></img>
            {% elif job.shortname %}
                <p class="job__logo">{{ job.shortname }}</p>
            {% endif -%}
            <p class="job__employer">{{ job.employer }}</p>
            <p class="job__title">{{ job.title | addLineBreaks | safe }}</p>
            <p class="job__location">{{ job.location }}</p>
            <p class="job__startEndDate">{{ job.startEndDate | addLineBreaks | safe }}</p>
            <ul class="job__mainPoints">
                {%- for mainPoint in job.mainPoints %}
                    <li class="job__mainPoint">{{ mainPoint | safe }}</li>
                {% endfor -%}
            </ul>
        </div>
    {% endfor -%}
</section>
<section class="homeSection__wrapper">
    <a id="Projects"></a>
    <h1 class="homeSection__title">Projects</h1>
    <div class="homeProjectsSection__wrapper">
        {%- for project in projects.projects %}
            <div class="project__wrapper">
                {%- if project.img %}
                    <img src="{{ project.img }}" alt="{{ project.img_alt }}"></img>
                {% endif -%}
                <p class="project__name">{{ project.name }}</p>
                <p class="project__motivation">{{ project.motivation }}</p>
                <p class="project__startEndDate">{{ project.startEndDate }}</p>
                <p class="project__summary">{{ project.summary }}</p>
                <div class="project__linkWrapper">
                    {%- for link in project.links %}
                        <a href="{{ link.link }}"><button type="button" class="
                            {%- if link.type === 'standard' -%}
                                button--standard
                            {%- elif link.type === 'primary' -%}
                                button--primary
                            {%- endif -%}
                        {%- if link.disabled %} button--disabled {%- endif -%}">{{ link.text }}</button></a>
                    {% endfor -%}
                </div>
            </div>
        {% endfor -%}
    </div>
</section>